.main {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.img1 {
  height: 20rem;
}

.buttonColor {
  color: black;
}

.gc-c {
  color: brown;
}

.covid-desc {
  font-size: 0.9rem;
}
#carousel-sec {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

@media (max-width: 650px) {
  .img1 {
    height: 10rem;
  }
}
