@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.deep {
  height: 15rem;
  width: 15rem;
}
.foot {
  background-color: #e4efe7;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.card_d {
  display: flex;
}

.img-div {
  text-align: center;
}
.card_content {
  padding-bottom: 2.1rem;
}
.top {
  background-color: white;
}
h1 {
  font-family: "PT Sans", sans-serif;
}
a {
  color: #8c1c4f;
}
