.WorldBar {
    height: 400px;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding-left: 10%;

  }
  
  .WorldLine {
    padding-top: 300px;
    height: 300px;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
  }