@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goblin+One&family=Ubuntu&display=swap");

.right-box {
  margin: 0;
}
.rowColor {
  background-color: #f8f5f1;
  margin-bottom: 7vh;
}
.image_corrona {
  height: 90%;
  width: 90%;
  padding-top: 5rem;
  padding-left: 6rem;
}

.left-box {
  text-align: center;
}

.para {
  font-family: "Montserrat", sans-serif;
  color: #da4b4b;
  font-weight: 690;
  font-size: 5rem;
  text-align: center;
}
h3 {
  font-family: "Goblin One", cursive;
  font-family: "Ubuntu", sans-serif;
  color: #7f56ab;
  font-weight: 500;
}

#home {
  margin-bottom: 6vh;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}
@media (max-width: 938px) {
  .image_corrona {
    height: 80%;
    width: 80%;
    padding-top: 5rem;
    padding-left: 6rem;
  }
}

@media (max-width: 537px) {
  .image_corrona {
    height: 90%;
    width: 90%;
  }
  .para {
    font-size: 3.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 445px) {
  .image_corrona {
    padding-left: 3rem;
  }
}
