.bg {
  background-color: #e4efe7;
}
.nav-items {
  margin-left: 62%;
}

p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
/* NAVIGATION */

nav ul li {
  display: inline-block;
  color: #aaa;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.7s;
}

/* SHIFT */
nav.shift ul li {
  position: relative;
  z-index: 1;
}

nav.shift ul li :hover {
  color: white;
}
nav.shift ul li :after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #fc5404;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.shift ul li :hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
