.images {
  text-align: center;
  width: auto;
  max-height: 500px;
}

.link {
  color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .btn {
  display: none;
} */

p {
  font-size: 1rem;
}
