.QuizMain{
  background-color: White;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 40%;
}
.linkButton{
  color: white;
}

.btn_info{
  background-color: brown;
}
.btn_info :hover{
  color: black;
}
