.QuizMain {
  padding-top: 8%;
  padding-bottom: 15%;
  text-align: center;
}
.linkButton {
  color: white;
}

.btn_info{
  background-color: brown;
}
.btn_info :hover{
  color: white;
}
.par {
  font-family: "Montserrat", sans-serif;
  color: #da4b4b;
  font-weight: 690;
  font-size: 3rem;
  text-align: center;
}
