.Bar {
  height: 200px;
  width: 800px;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}

.Line {
  padding-top: 200px;
  height: 200px;
  width: 700px;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}

.Pie {
  padding-left: 50px;
  padding-top: 350px;
  height: 200px;
  width: 400px;
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
